<!DOCTYPE html>
<link rel="stylesheet" type='text/css' href="/static/css/bootstrap.min.css">
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class='container'>
            <h1>Donors Choose Recommendation System (DCRS)</h1>
            <h4>by Tristan Alba, Prince Javier, and Jude Teves</h4>
        </div>
    </div>
    <div class="container">
        <form method="POST" style="align-items:center">
            <!-- {% for c in categories %}
                <p>{{ loop.index }}</p>
            {% endfor %} -->

            <div class="form-row mb-3">
                <div class="input-group col-md-3">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[0]}}</span></div>
                    <input class="form-control" type="number" min=0 name="1" value="0">
                </div>
                <div class="input-group col-md-4">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[1]}}</span></div>
                    <input class="form-control" type="number" min=0 name="2" value="0"><br>
                </div>
                <div class="input-group col-md-5">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[2]}}</span></div>
                    <select class="form-control" size="1" name="3">
                        {% for i in categories[2] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[3]}}</span></div>
                    <select class="form-control" size="1" name="4">
                        {% for i in categories[3] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[4]}}</span></div>
                    <select class="form-control" size="1" name="5">
                        {% for i in categories[4] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[5]}}</span></div>
                    <select class="form-control" size="1" name="6">
                        {% for i in categories[5] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[6]}}</span></div>
                    <select class="form-control" size="1" name="7">
                        {% for i in categories[6] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[7]}}</span></div>
                    <input class="form-control" type="number" min=0 name="8" value="0">
                </div>
                <!-- <div class="input-group col-md-5">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[8]}}</span></div>
                    <select class="form-control" size="1" name="9">
                        {% for i in categories[8] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                        <option value="{{categories[8][0]}}">{{categories[8][0]}}</option>
                    </select><br>
                </div> -->
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[8]}}</span></div>
                    <select class="form-control" size="1" name="9">
                        {% for i in categories[8] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[9]}}</span></div>
                    <select class="form-control" size="1" name="10">
                        {% for i in categories[9] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[10]}}</span></div>
                    <input class="form-control" type="number" min=0 max=100 step=0.01 name="11" value="0">
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[11]}}</span></div>
                    <select class="form-control" size="1" name="12">
                        {% for i in categories[11] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[12]}}</span></div>
                    <select class="form-control" size="1" name="13">
                        {% for i in categories[12] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[13]}}</span></div>
                    <select class="form-control" size="1" name="14">
                        {% for i in categories[13] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
                <div class="input-group col-md-6">
                    <div class="input-group-prepend"><span class="input-group-text">{{labels[14]}}</span></div>
                    <select class="form-control" size="1" name="15">
                        {% for i in categories[14] %}<option value="{{i}}">{{i}}</option>{% endfor %}
                    </select><br>
                </div>
            </div>
            <div class="form-row mb-3 text-center">
                <div class="col-12">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit"><br>
                </div>
            </div>
        </form>
    </div>

</body>